@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Lobster&family=Open+Sans:wght@500&family=Pacifico&family=Poppins&family=ZCOOL+XiaoWei&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Login page and Register page*/

.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 12px;
  
}

.login img {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    
}

.login h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
}
.inp {
    height: 50px;
    width: 70%;
    margin-bottom: 40px;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
}

.inp .inp-captcha {
    height: 50px;
    width: 80%;
    margin-bottom: 40px;
}

.forgot {
    color: red;
    margin-left: 270px;
}

.forgot:hover {
    color: red;
}

.btn1 {
    height: 50px;
    width: 50%;
    margin-top: 80px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(190, 47, 47);
    color: white;
}

.btn1:hover {
    background: rgb(125, 32, 32);
    transition: 0.5s;
}

.para {
    margin-top: 40px;
}

.para a {
    color: red;
}

.para a:hover {
    color: red;
    transition: 0.5s;
}


/* Register page */

.inp-name {
    height: 50px;
    width: 25%;
    margin-bottom: 20px;
    margin-right: 30px;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
}

.btn2 {
    height: 50px;
    width: 50%;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(190, 47, 47);
    color: white;
}

.btn2:hover {
    background: rgb(125, 32, 32);
    transition: 0.5s;
}